@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --red: #d01c28;
    --gray: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
}

nav > ul {
    display: flex;
    gap: 24px;
}

nav > ul > li > a {
    color: var(--gray);
    font-size: 16px;
    font-weight: 600;
}
.btn-login {
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
}
