@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --red: #d01c28;
    --gray: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav > ul {
    display: flex;
    gap: 24px;
}

nav > ul > li > a {
    color: var(--gray);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s linear;
}

nav > ul > li > a:hover {
    color: #d01c28;
}

.btn {
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all 0.3s linear;
}

.btn:hover {
    background: #fff;
    color: #d01c28;
    border-color: #d01c28;
}

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
}

.hero__heading {
    color: #000;
    font-size: 108px;
    font-weight: 800;
    line-height: 94.444%;
}

.hero__desc {
    margin-top: 36px;
    width: 404px;
    color: var(--GRAY, #5a5959);
    font-size: 16px;
    font-weight: 600;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 36px;
}

.btn__link {
    color: var(--GRAY, #5a5959);
    font-size: 16px;
    font-weight: 500;
}

.shopping {
    margin-top: 36px;
}

.shopping__desc {
    color: var(--GRAY, #5a5959);
    font-size: 16px;
    font-weight: 400;
}

.brand-icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
